<template>
	<section class="featured-posts">
		<PostPreview
			v-for="post in posts"
			:key="post.id"
			:id="post.id"
			:isAdmin="isAdmin"
			:thumbnail="post.thumbnail"
			:title="post.title"
			:previewText="post.previewText" />
	</section>
</template>

<script>
import PostPreview from '@/components/Posts/PostPreview'

export default {
	props: {
		isAdmin: {
			type: Boolean,
			default: false
		},
		posts: {
			type: Array,
			required: true
		}
	},
	components: {
		PostPreview
	},
	monunted() {
		console.log('czy je admin: ' + this.isAdmin)
	}
}
</script>

<style lang="scss" scoped>
	.posts-page {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.featured-posts {
		display: flex;
		padding: 20px;
		box-sizing: border-box;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
