<template>
	<div class="admin-post-page">
		<section class="update-form">
			<AdminPostForm :post="loadedPost" @submit="onSubmitted"/>
		</section>
	</div>
</template>

<script>
	import AdminPostForm from "@/components/Admin/AdminPostForm";

	export default {
		layout: "admin",
		middleware: ['check-auth', 'auth'],
		asyncData(context) {
			return context.app.$axios
				.$get(`${process.env.baseUrl}/posts/${context.params.postId}.json`)
				.then(data => {
					return {
						loadedPost: data
					};
				})
				.catch(e => context.error(e));
		},
		components: {
			AdminPostForm
		},
		methods: {
			onSubmitted(editedPost) {
				this.$store
					.dispatch("editPost", {
						...editedPost,
						id: this.$route.params.postId
					})
					.then(() => this.$router.push("/admin"));
			}
		}
	};
</script>

<style lang="scss" scoped>
	.update-form {
		width: 90%;
		margin: 20px auto;
	}
	@media (min-width: 768px) {
		.update-form {
			width: 500px;
		}
	}
</style>
