<template>
	<div class="posts-page">
		<section class="featured-posts">
			<PostList :posts="loadedPosts" />
		</section>
	</div>
</template>

<script>
export default {
	computed: {
		loadedPosts() {
			return this.$store.getters.loadedPosts;
		}
	}
}
</script>