<template>
	<div>
		<nuxt/>
	</div>
</template>

<style>
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
</style>
