<template>
	<div>
		<TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
		<TheSideNav :show="displaySidenav" @close="displaySidenav = false" />
		<nuxt/>
	</div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader';
import TheSideNav from '@/components/Navigation/TheSideNav';

export default {
	data() {
		return {
			displaySidenav: false
		}
	},
	components: {
		TheHeader,
		TheSideNav
	}
}
</script>


<style>
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
</style>
